body {
  background-color: #fff;
  position: relative;
  min-height: 100vh;
}

nav {
    background-color: #1363DF;
    height: 60px;
}

.content-wrap {
  padding-bottom: 6rem;
}

/* Signin */
.form-signin {
    max-width: 390px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


textarea {
  resize: horizontal;
  overflow: hidden;
  font-size: 14px !important;
  max-height: 20rem;
  min-height: 2rem;
}

div.card {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #1363DF;
  color: #fff;
}
